# Etude des données parisiennes

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [14]:
df_gt_paris= pd.read_csv('df_gt_paris.csv')
df_air_traffic_paris=pd.read_csv('df_air_traffic_paris.csv')
df_reviews_us_france_210712 = pd.read_csv('reviews_us_france_210712.csv')
df_reviews_france=df_reviews_us_france_210712[df_reviews_us_france_210712['country']=="France"]
df_reviews_paris=df_reviews_france[df_reviews_france['city']=='Paris']
df_France_Official_Data = pd.read_csv('France_Official_Data.csv')
df_od_paris=df_France_Official_Data[df_France_Official_Data['department']=='Paris']

,date,variable,department,individus,value_in_thousands
18460,2011-01,Arrivées dans l'hôtellerie,Paris,Non-résidents,507.94
18461,2011-02,Arrivées dans l'hôtellerie,Paris,Non-résidents,496.15
18462,2011-03,Arrivées dans l'hôtellerie,Paris,Non-résidents,659.79
18463,2011-04,Arrivées dans l'hôtellerie,Paris,Non-résidents,760.39
18464,2011-05,Arrivées dans l'hôtellerie,Paris,Non-résidents,769.84
...,...,...,...,...,...
18715,2021-06,Arrivées dans l'hôtellerie,Paris,Résidents,452.8
18716,2021-07,Arrivées dans l'hôtellerie,Paris,Résidents,475.18
18717,2021-08,Arrivées dans l'hôtellerie,Paris,Résidents,381.84
18718,2021-09,Arrivées dans l'hôtellerie,Paris,Résidents,524.37
18719,2021-10,Arrivées dans l'hôtellerie,Paris,Résidents,620.02