# Indicateur tourisme Paris

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Réduction des bases de données à Paris

### Trafic aérien

In [3]:
#Données corrigées
df_air_trafic = pd.read_csv("df_air_trafic_corrigee.csv", index_col=0)

In [4]:
#Données corrigées groupées par mois
df_air_trafic_month = pd.read_csv("df_air_trafic_corrigee_month.csv", index_col=0)
df_air_trafic_month['sheduled_time_start'] = pd.to_datetime(df_air_trafic_month['sheduled_time_start'])
df_air_trafic_month

     sheduled_time_start    citydest     seats  number_planes
0             2017-05-01        Agen     372.0              7
1             2017-05-01     Ajaccio   21455.0            147
2             2017-05-01       Basel  102306.0            682
3             2017-05-01      Bastia   16665.0            119
4             2017-05-01    Bergerac    6072.0             46
...                  ...         ...       ...            ...
2100          2021-12-01       Rodez     350.0              7
2101          2021-12-01  Strasbourg    3730.0             30
2102          2021-12-01      Tarbes     189.0              1
2103          2021-12-01    Toulouse   22385.0            149
2104          2021-12-01       Tours     670.0              4

[2105 rows x 4 columns]

In [6]:
#Données corrigées groupées par mois : Paris
df_air_trafic_Paris = df_air_trafic_month[df_air_trafic_month['citydest']=='Paris']
df_air_trafic_Paris.head(5)

    sheduled_time_start citydest      seats  number_planes
32           2017-05-01    Paris  1253577.0           6308
76           2017-06-01    Paris  2287322.0          11314
122          2017-07-01    Paris  2633473.0          12999
166          2017-08-01    Paris  2710280.0          13251
210          2017-09-01    Paris  2605529.0          13075

### Google Trends

In [7]:
#importe la base des google trends
df_gt=pd.read_csv("google_trends_fr_1.csv")
df_gt['date']=pd.to_datetime(df_gt['date'])

In [12]:
#uniquement les google trends de Paris
df_gt_paris = df_gt[df_gt.variable.str.contains('paris|Louvre', case=False)]
df_gt_paris = df_gt_paris.reset_index().pivot_table(values = "value", index = "date", columns = "variable")
df_gt_paris = df_gt_paris.reset_index()
df_gt_paris.head(5)

variable,date,aeroport paris_cat_voyages,disneyland paris hotel_cat_voyages,disneyland paris theme_cat_voyages,disneyland paris_cat_voyages,louvre_cat_voyages,paris gare_cat_voyages,paris hotel_cat_voyages,paris restaurant_cat_voyages,paris_cat_voyages
0,2017-01-01,9.00,50.32,35.51,52.92,13.11,26.79,15.18,7.04,38.70
1,2017-01-02,3.78,23.12,47.17,56.07,9.43,22.23,20.47,11.44,39.99
2,2017-01-03,3.96,51.00,39.22,47.88,4.37,31.92,16.10,44.00,35.69
3,2017-01-04,2.79,29.24,35.51,44.10,8.97,21.09,23.00,33.00,35.69
4,2017-01-05,3.24,55.76,34.45,39.69,9.20,35.91,15.41,33.44,34.83

In [10]:
#on regroupe par mois
df_gt_paris_month = df_gt_paris.groupby(pd.Grouper(key='date', freq="MS")).mean()
df_gt_paris_month.reset_index(inplace=True)
df_gt_paris_month

variable,date,aeroport paris_cat_voyages,disneyland paris hotel_cat_voyages,disneyland paris theme_cat_voyages,disneyland paris_cat_voyages,louvre_cat_voyages,paris gare_cat_voyages,paris hotel_cat_voyages,paris restaurant_cat_voyages,paris_cat_voyages
0,2017-01-01,3.965806,36.698065,33.338710,41.417419,10.424194,29.070000,17.042258,26.485161,35.481935
1,2017-02-01,5.925000,26.016429,31.757143,37.755714,5.551429,50.788929,16.955714,20.282143,33.900000
2,2017-03-01,2.361290,33.387097,30.822581,37.252258,14.763871,28.394516,16.641935,18.933871,32.660000
3,2017-04-01,5.823000,21.675000,36.384000,35.860000,12.657667,35.734333,16.040000,21.633333,37.740000
4,2017-05-01,6.025806,21.507097,29.989032,39.237097,9.855484,37.948387,14.286774,19.225806,37.953548
5,2017-06-01,5.983333,18.640000,29.172000,32.781000,9.636000,34.696667,13.610333,25.775333,39.621333
6,2017-07-01,8.320000,32.166129,37.334839,39.140645,11.125161,41.249032,16.258065,21.269032,39.468387
7,2017-08-01,6.712258,35.361290,39.642581,45.735484,13.349032,37.109032,15.903226,28.722581,36.362903
8,2017-09-01,6.600000,30.940000,35.040000,40.500000,12.392000,37.264000,17.783333,28.800000,37.425000
9,2017-10-01,5.858065,32.260000,38.878710,44.652258,13.458710,40.480968,19.438710,25.091935,35.724194
10,2017-11-01,4.857000,29.986000,34.335000,32.266000,14.166667,36.053333,15.592667,20.356000,34.235000
11,2017-12-01,3.896129,25.641290,25.480968,30.435484,12.375484,35.303226,14.277419,20.532581,32.881935
12,2018-01-01,5.295484,53.715484,46.280000,51.729032,11.677419,35.448387,18.983226,24.247097,40.892903
13,2018-02-01,3.994286,33.878571,38.665714,46.674286,12.207143,36.912857,17.065714,19.864286,37.327500
14,2018-03-01,7.339355,37.980000,36.030968,41.125161,16.019355,45.932903,17.790968,22.709677,40.258065
15,2018-04-01,7.003333,26.383333,32.672000,40.851333,17.217000,38.884333,14.679000,23.850667,38.289333
16,2018-05-01,5.054839,26.129032,31.848387,35.680968,14.523871,46.876129,16.529032,30.680000,39.948387
17,2018-06-01,5.096667,28.861000,28.952000,36.810667,11.840000,41.473000,15.818000,30.818667,36.195000
18,2018-07-01,6.603548,39.100000,33.758065,47.800000,15.555484,38.956129,18.385161,23.145161,41.803548
19,2018-08-01,6.223871,34.376452,42.153548,50.054516,13.006452,41.555806,17.450968,25.519355,38.888710
20,2018-09-01,5.250000,45.456667,36.521333,40.589333,10.703333,49.375000,22.200000,22.230000,40.016667
21,2018-10-01,3.579677,41.063226,36.371613,49.354839,16.002581,49.592903,17.566452,31.252903,38.183226
22,2018-11-01,4.596000,26.514667,33.973333,38.647333,11.816000,41.064667,16.233000,29.300000,37.238000
23,2018-12-01,5.460968,19.709677,27.174194,30.366452,10.664516,32.985161,12.141290,23.287742,33.234839
24,2019-01-01,6.467742,37.905484,36.443226,42.312581,15.362903,34.639355,18.919355,31.367742,40.443871
25,2019-02-01,5.007143,30.129643,31.648571,44.635714,15.376429,41.114643,15.093571,28.945000,38.674286
26,2019-03-01,5.636129,38.980000,19.596774,24.655161,17.905161,48.195484,16.854839,29.320968,38.935484
27,2019-04-01,7.921333,28.772333,40.266667,38.791333,19.590000,52.026333,17.273000,31.826667,26.748000
28,2019-05-01,6.340968,31.652903,35.783548,48.247742,17.156774,46.261935,15.384194,22.787419,40.273548
29,2019-06-01,5.195667,21.733333,35.342667,43.066000,17.341333,48.934000,17.250000,30.668000,47.556000
30,2019-07-01,7.865806,32.723548,40.229677,47.587742,18.058065,51.572258,18.132258,24.725161,41.458065
31,2019-08-01,8.040000,32.980000,46.905484,45.409677,18.958065,53.434839,17.067742,27.880000,44.317419
32,2019-09-01,5.907000,39.693333,40.329333,44.800000,18.315000,58.156000,19.216667,31.075667,45.862667
33,2019-10-01,6.722581,34.993548,39.141290,44.116129,16.629677,41.891613,18.526452,34.722581,37.967742
34,2019-11-01,4.968000,31.281333,35.333333,42.212000,15.372000,43.968000,16.897333,30.951000,37.505333
35,2019-12-01,6.828387,32.299355,32.500000,39.000000,12.178065,40.619355,14.158065,25.464194,36.083871
36,2020-01-01,5.567742,32.685484,43.900323,56.322581,17.278387,39.960000,19.641290,23.887742,42.435484
37,2020-02-01,5.117241,31.100000,40.870690,50.624828,16.529655,28.329655,17.304828,26.268966,39.591724
38,2020-03-01,3.894194,6.332258,14.216129,16.043548,7.343226,18.392903,10.012903,5.445484,21.471290
39,2020-04-01,1.095000,6.528667,12.990000,16.366667,6.780000,6.647000,3.626000,2.378000,13.130667
40,2020-05-01,1.500000,5.109677,13.163226,17.491935,6.259355,6.090323,4.035484,5.109677,12.721935
41,2020-06-01,2.366667,8.015333,13.301667,17.780000,5.624667,25.242000,6.096000,15.222667,19.950000
42,2020-07-01,3.373548,10.050968,21.946452,29.174194,7.316129,31.693548,9.890323,21.054194,25.345161
43,2020-08-01,3.270968,15.067742,19.021935,22.237742,8.124194,27.786774,7.687742,18.418065,23.574194
44,2020-09-01,2.620000,6.534000,13.909000,16.443000,6.920000,25.973333,6.753333,11.718000,16.176000
45,2020-10-01,2.112258,10.023548,13.318065,16.998710,7.573548,16.414839,5.770968,10.084516,18.379355
46,2020-11-01,1.547000,4.857667,5.100333,5.990000,2.807000,5.202000,3.256000,2.256000,11.595000
47,2020-12-01,1.876129,3.845484,7.819355,8.574194,5.712903,10.534194,4.669677,3.370968,15.003871
48,2021-01-01,1.827097,5.419355,7.917419,10.214194,5.521290,10.399355,4.866129,4.942903,13.587097
49,2021-02-01,1.515000,3.918571,7.954286,8.871429,4.745714,10.127857,4.832500,2.661429,10.414286
50,2021-03-01,1.361613,5.601290,7.598710,8.106452,4.041290,12.332903,5.080645,2.768387,8.770645
51,2021-04-01,1.631000,5.130000,8.276667,8.610000,4.503000,11.344000,5.506667,3.264000,14.433000
52,2021-05-01,3.004839,8.830000,13.555161,17.560000,5.419355,16.216774,6.277419,10.761290,17.953548
53,2021-06-01,3.348333,14.664000,18.961667,23.088000,6.626667,26.400000,8.052000,17.906667,22.080000
54,2021-07-01,4.139355,17.323548,21.852903,29.393548,8.323226,24.404516,11.014839,25.998387,24.949677
55,2021-08-01,3.032903,20.173548,30.184839,34.374194,9.377419,30.013548,10.301290,22.569677,28.225806
56,2021-09-01,3.712333,27.510667,25.024333,34.447000,11.001000,42.697333,12.041667,20.335333,27.615000
57,2021-10-01,3.282581,32.055484,36.572903,45.171613,12.186774,31.497097,10.869677,25.880323,25.109677
58,2021-11-01,2.805000,20.969000,27.250667,42.220000,13.033333,29.946000,10.290000,20.322333,23.312000
59,2021-12-01,3.048387,12.115161,25.959677,31.710968,8.941935,29.670968,8.253548,23.405161,21.025161

### Commentaires sur les hôtels

In [11]:
#Importe données groupées par mois
df_reviews_france_month = pd.read_csv("df_reviews_france_month.csv", index_col=0)
df_reviews_france_month['stay_date'] = pd.to_datetime(df_reviews_france_month['stay_date'])

In [14]:
#Données groupées par mois : Paris
df_reviews_Paris = df_reviews_france_month[df_reviews_france_month['city']=='Paris']
df_reviews_Paris.head(5)

    stay_date   city  number_of_reviewers
2  2018-07-01  Paris                  370
7  2018-08-01  Paris                 1390
12 2018-09-01  Paris                 1478
17 2018-10-01  Paris                 1621
22 2018-11-01  Paris                 1873

### Données officielles

In [15]:
#Importe données groupées par mois
df_France_Official_Data2 = pd.read_csv("df_France_Official_Data_month.csv", index_col=0)
df_France_Official_Data2['date'] = pd.to_datetime(df_France_Official_Data2['date'])

In [17]:
#Données groupées par mois : Paris
df_Official_Data_Paris = df_France_Official_Data2[df_France_Official_Data2['department']=='Paris']
df_Official_Data_Paris.head(5)

          date department  value_in_thousands
71  2011-01-01      Paris             1106.32
167 2011-02-01      Paris             1020.39
263 2011-03-01      Paris             1314.42
359 2011-04-01      Paris             1329.35
455 2011-05-01      Paris             1390.83